<form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="eventService.selectedEvent.$key">
<div class="form-group">
  <label>Serviço</label>
  <input class="form-control" name="servico" #servico="ngModel" [(ngModel)]="eventService.selectedEvent.servico" placeholder="nome" required>
</div>
<div class="form-group">
  <label>Data / Hora</label>
  <input class="form-control" name="dataHora" #dataHora="ngModel" [(ngModel)]="eventService.selectedEvent.dataHora" placeholder="28/05/2018 12:00">
</div>
<div class="form-group">
  <label>Email do Usuário</label>
  <input class="form-control" name="emailUser" #emailUser="ngModel" [(ngModel)]="eventService.selectedEvent.emailUser" placeholder="Email">
</div>

<div class="form-group text-center">
  <button class="btn btn-primary" type="submit" [disabled]="!eventForm.valid">
    <i class="fa fa-floppy-o"></i>
     Salvar</button>
  <button class="btn btn-default" type="button" (click)="resetForm(eventForm)">
    <i class="fa fa-repeat"></i>
     Resetar</button>
</div>
</form>